.tab-bar{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 20%);
    background-color: #fff;

    ion-tab-button{
        background-color: #fff;
    }

}