.custom-header{
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgb(0 0 0 / 20%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;

    &__top{
        display: flex;
        justify-content: space-between;

        ion-icon{
            color: #fff;
            font-size: 30px;

        }
    }
    .progress{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &__title{
            display:flex;
            justify-content: flex-end;
            font-style: 14px;
            color: #808080;
        }
        &__info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
        }
    }
}