.options{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    >div{
        display: flex;
        align-items: center;
    }
    ion_icon{
        font-size: 20px;
        border-color: #f3f3f3;
        padding: 10px;
        margin-right: 30px;
        border-radius: 10px;
    }
}