.change-name-form{
    margin-top: 30px;
    ion-input{
        input{
            background-color: #eee !important;
            margin-bottom: 20px !important;
            padding: 1px !important;
            border-radius: 10px !important;
        }
    }
}